body {
    width: 872px;
    margin: 10px auto;
    font-family: Verdana, Geneva, sans-serif;
}

footer {
    text-align: right;
    font-size: .7em;
    color: #A2A4A7;
}

footer > p {
    margin-top: 0;
}

main {
    height: 605px;
    overflow-x: auto;
}

.main-index {
    overflow: hidden;
    height: 675px;
}

.projects-index {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 605px;
}

#border {
    border: 1px solid #A2A4A7;
    border-radius: 3px;
}

.project {
    display: inline-block;
    width: 32%;
    height: 220px;
    text-align: center;
    padding-top: 32px;
    box-sizing: border-box;
}

.project > p, .project > h6 {
    margin: 0;
}

.image {
    display: inline;
    width: 290px;
    height: 220px;
    float: left;
}

.image-row > .middle {
    text-align: center;
}

.enter {
    padding-top: 70px;
}

.foot {
    margin-top: 10px;
    height: 40px;
    width: 90%;
}

.footer-image {
    padding-left: 178px;
}

#splash-center {
    padding-top: 65px;
}

header {
    display: inline;
}

header > div {
    border-bottom: 1px solid #A2A4A7;
    font-weight: 500;
}

header ul {
    float: right;
    vertical-align: bottom;
    padding: 0;
    margin-top: 25px;
}

header ul li {
    list-style-type: none;
    background-color: #ffffff;
    display: inline;
    padding: 25px 15px;
    font-weight: 400;
}

header ul li a {
    text-decoration: none;
}

header ul li a:visited {
    color: inherit;
}

header ul li:hover, .pressed {
    background-color: #8E8E8E;
    color: #FFFFFF;
}

.logo {
    width: 247px;
}

header ul li a:link {
    color: inherit;
}

.about > section {
    padding: 30px;
    font-size: .75em;
    min-height: 200px;
}

section > img {
    float: right;
}

section > p {
    margin-top: 0;
    margin-right: 170px;
}

section > h2 {
    margin-top: 0;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
    display: inline;
}

hr {
    width: 93%;
}

.section-left, .section-right {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
}

.section-left, .section-right:not(:last-child) {
    padding: 30px;
    display: inline-block;
}

.section-right, section img {
    float: right;
}

section {
    /*display: flex;*/
}

.contact {
    display: flex;
}

form {
    border: 1px solid #FFF;
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border-radius: 1em;
}

form label {
    width: 5em;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

form div + div {
    margin-top: 1em;
}

form textarea {
    height: 125px;
    resize: vertical;
}

form input:not([type="radio"]), textarea, text{
    font-size: .75em;
    width: 250px;
    box-sizing: border-box;

}

form label, legend, form > p {
    font-size: .75em;
}
#selection{
    padding-left: 65px;
}
#selection > label{
    text-align: left;
    padding-top: 2px;
    padding-left: 2px;
}

.button {
    padding-right: 84px;
    float: right;
}

form button {
    margin-left: .5em;
}


legend label {
    font-weight: normal;
    font-size: .75em;
}


.section-left > p {
    margin-top: 0;
    font-size: .75em;
}

table {
    vertical-align: text-top;
    font-size: .75em;
    width: 100%;
}

td {
    vertical-align: top;
}

#testimonials {
    margin: 10px 0 108px;
}

.testimonials_row {
    margin-bottom: 60px;
    display: inline-block;
}

.testimonial {
    width: 180px;
    float: left;
    margin-left: 80px;
    font-size: .9em;
    font-style: italic;
    text-align: left;
    border: 1px solid #e5e5e5;
    background: #fff url(../images/quote.png) no-repeat 29px 29px;
    box-shadow: 3px 3px 20px #888888;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 24px 31px 29px 67px
}

.testimonial a.viewfull {
    text-align: left;
    position: absolute;
    bottom: -20px;
    left: 48px
}

.testimonial_description {
    color: #78a99e;
    font-size: 24px;
    text-shadow: 1px 1px 0 #fff;
    padding: 46px 0 0 26px;
    width: 252px
}

.testimonial_description p {
    line-height: 30px
}

.testimonial_description a.viewfull {
    float: left;
    margin-top: 12px
}

.testimonial p {
    line-height: 21px
}

#testimonials .main {
    clear: both;
    padding: 0 0 2px
}

#testimonials > h2 {
    margin-top: 0;
    font-size: 2em;
    text-align: center;
}

.subtitle {
    text-align: center;
}
